{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area bg-img bg-overlay-2by5"  style="background-image: url({% static 'img/bg-img/bg2.jpg' %}); height: 200px;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Hero Content -->
                    <div class="hero-content text-center">
                        <h2>Qo'llanma</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ##### Blog Details Content ##### -->
    <div class="blog-details-content section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Blog Details Text -->
                    <div class="blog-details-text">
                        <p>Xush kelibsiz! Bizning IQ Testimizga qo'shiling va intellektual qobiliyatlaringizni sinab ko'ring.
                            Bu test sizning intellektual potensialingizni belgilashda yordam beradi. Testda 30 ta muhim savol
                            mavjud, har biri sizning lojika, tarkibiy tushunchalar, matematik, so'zlashish va boshqalar kabi
                            qobiliyatlarizni sinab ko'rishga mo'ljallangan.</p>
                        <p>Testni boshlash uchun 'Boshlash' tugmasini bosing va har bir savol uchun berilgan variantlardan
                            to'g'ri javobni tanlang. Sizga berilgan vaqt chegarasida har bir savolni yechishingiz kerak.</p>
                        <p>Test yakunlangandan so'ng, sizning umumiy ballingiz hisoblanadi va sizning IQ dəyəringiz aniqlanadi.
                            Natijalaringizni o'z saytingizning profilida vaqtni o'tkazmasdan ko'rish imkoniyati mavjud bo'ladi.</p>
                        <p>Testni muvaffaqiyatli o'tkazish uchun, javob variantlarini diqqat bilan o'qing va har bir savolni
                            tahlil qilishga harakat qiling. Haqiqiy va aniqlik bilan javob berishga harakat qiling.</p>
                        <p>Testimiz sizning intellektual darajangizni aniqlashga yordam beradi va sizning o'ziningiz haqida
                            ko'proq ma'lumotga ega bo'lishingizga imkon beradi.</p>
                        <p>Yaxshi muvaffaqiyatlar tilaymiz va intellektual potensialingizni test orqali o'rganishda muvaffaqiyatli
                            bo'ling!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}